@{
    ViewData["Title"] = "Order Summary Report";
}

@* wkhtmltopdf does not support layouts / partial views, so the layout is declared null. *@
@{ Layout = null; }
@model IEnumerable<Order>

<!DOCTYPE html>
<html>
<body>
    <table style="width: 100%; border:1px solid black;">
        <thead>
            <tr>
                <th>Order No</th>
                <th>User ID</th>
                <th>Order Value</th>
                <th>Payment Status</th>
                <th>Payment Date</th>
                <th>Order Status</th>
                <th>Delivery Status</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            var username = item.user.UserName == null ? "Guest User" : item.user.UserName;
            <tr>
                <td>@item.orderNo</td>
                <td>@username</td>
                <td>@item.totalPrice</td>
                <td>@item.paymentStatus</td>
                <td>@item.paymentDate</td>
                <td>@item.orderStatus.GetDisplayName()</td>
                <td>@item.delivery.deliverystatus.GetDisplayName()</td>
            </tr>
        }
    </table>
</body>
</html>
