@{
    ViewData["Title"] = "View Orders";
}
@model IEnumerable<Order>

<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>@ViewData["Title"]</h2>

            <form enctype="multipart/form-data" asp-controller="CMS" asp-action="ViewOrder" method="post">
                <div>
                    @{
                        decimal totalOrders = 0;
                        foreach (var item in Model)
                        {
                            totalOrders += item.totalPrice;
                        }
                    }
                    <p>Total Order Value: <span>@totalOrders</span></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>User ID</th>
                                <th>Order Value</th>
                                <th>Payment Status</th>
                                <th>Payment Date</th>
                                <th>Order Status</th>
                                <th>Delivery Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            var userId = item.user == null ? "guest user" : item.user.Id;
                    <tr>
                        <td>@item.orderNo</td>
                        <td>@userId</td>
                        <td>@item.totalPrice</td>
                        <td>@item.paymentStatus</td>
                        <td>@item.paymentDate</td>
                        <td>@item.orderStatus</td>
                        <td>@item.delivery.deliverystatus</td>
                        <td>
                            <button class="btn btn-sm btn-primary" name="orderId" value="@item.orderId" type="submit">View detail</button>
                        </td>
                    </tr>
                        }
                    </table>
                    
                </div>
            </form>
        </section>
    </div>
</section>
