@{
    ViewData["Title"] = "Edit Article";
}
@model SDPWeb.ViewModels.AddEditArticle

<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>@ViewData["Title"] - @Model.article.title</h2>
            <form enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                <input name="key" value="@Model.article.key" hidden />

                @* Field 'title' in its own row. *@
                <div class="mb-4">
                    <label asp-for="article.title" class="form-label"></label>
                    <input required="required" asp-for="article.title" class="form-control" maxlength="256" />
                    <span asp-validation-for="article.title" class="text-danger"></span>
                </div>

                @* Field 'imgUrl' in its own row. *@
                <div id="disp_tmp_path" class="d-none" hidden></div>
                <div class="mb-4">
                    <label asp-for="article.imgUrl" class="form-label"></label>
                    <div class="custom-file">
                        <div class="form-text mt-0 mb-2">Upload PNG / JPG image format.</div>
                        <input type="hidden" name="Url" value="@Model.article.imgUrl" />
                        <input asp-for="image" type="file" class="form-control custom-file-input" name="ufile" maxlength="2048" />
                        <div class="custom-file-label form-text">@Model.article.imgUrl</div>
                    </div>
                    <span asp-validation-for="article.imgUrl" class="text-danger"></span>
                </div>

                @* Field 'description' in its own row. *@
                <div class="mb-4">
                    <span class="hint" id="textarea_message"></span>
                    <label asp-for="article.text" class="form-label"></label>
                    <textarea required="required" asp-for="article.text" id="message_area" class="form-control message_area"></textarea>
                    <span asp-validation-for="article.text" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <button asp-controller="Article" asp-action="DeleteArticle" name="key"
                        value="@Model.article.key" class="btn btn-danger" id="popup">
                    Delete
                </button>
            </form>
        </section>
    </div>
</section>
