@{
    ViewData["Title"] = "Account Preferences";
}

@model Microsoft.AspNetCore.Identity.IdentityUser

<section id="section-cms">
    <div class="container">
        <section class="cms-area">
           
            <h2>Account Preferences</h2>
            <p>@ViewData["Error MSG"]</p>
            <h3>@Model.Email</h3>

            <div class="mb-4">
                
                <form method="post">
                    <label class="form-label" for="current-password">Change Password</label>
                    <div class="form-text mt-0 mb-2">
                        Please input your current password and then select 'Reset Password' - you will be given the opportunity to choose your new password in the following step.
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <input class="form-control" id="current-password" type="password" name="password" />
                                <button class="btn btn-warning" name="userId" value="@Model.Id" type="submit">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="accordion accordion-flush" id="account-delete-accordion">
                <div class="accordion-item">
                    <p class="accordion-header" id="delete-ccount-nav-heading">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#delete-account-nav-child"
                                aria-expanded="false"
                                aria-controls="delete-account-nav-collapse">
                            Delete Account
                        </button>
                    </p>
                    <div id="delete-account-nav-child"
                         class="accordion-collapse collapse"
                         aria-labelledby="delete-ccount-nav-heading"
                         data-bs-parent="#account-delete-accordion">
                        <form asp-action="DeleteMyAccount" asp-controller="Account" method="post" id="popup">
                            <div class="form-text mt-3 mb-5">
                                This action is not reversible and will delete the account associated with email address @Model.Email. Please be certain this is what you wish to do before proceeding.
                            </div>
                            <button class="btn btn-danger " name="Id" value="@Model.Id" type="submit">Delete Account</button>
                            <div class="form-text mt-5 mb-2">Account ID: @Model.Id</div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
