@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SDP.ViewModels.ManageRoleModel
<form asp-action="RoleManage" asp-controller="Account" method="post">
    <label>Enter Email of the user</label>
    <input name="Email" />
    <button type="submit">search</button>
</form>

<h3>search result</h3>
@if (Model.user != null)
{
    <form asp-action="DeleteUserRole" asp-controller="Account" method="post">
        <table class="table table-striped table dark">

            <tr>
                <th>User ID</th>
                <th>User Email</th>

            </tr>


            <tr>
                <td>
                    @Model.user.Id
                </td>
                <td>
                    @Model.user.Email
                </td>
            </tr>

        </table>
        <input type="hidden" name="userId" value=@Model.user.Id />
        <table class="table table-striped table dark">

            <tr>
                <th>User Roles</th>

            </tr>
            @foreach (var role in Model.currentRoleList)
            {

                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        @if (role.Name == "SuperAdmin")
                        {
                            <button  disabled>Delete</button>
                        }
                        else
                        {<button type="submit" name="roleName" value=" @role.Name">Delete</button>}
                    </td>
                </tr>
            }
        </table>
    </form>

    <form  asp-action="RoleManage" asp-controller="Account" method="post">
        @Html.DropDownListFor(m => m.roleId, new SelectList(Model.roleList, "Value", "Text"), "Add a new role ", new { @class = "form-control" })
        <input type="hidden" name="searchToken" value="true" />
        <button type="submit" name="Id" value="@Model.user.Id">Update User Role</button>
    </form>
   
}
<style>
    button {
        margin-top: 10px;
    }
</style>