@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SDP.ViewModels.AddProduct

<div class="container">
    <h2>Add Product</h2>
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" asp-controller="Inventory" asp-action="UpdateProduct" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
               
                <div class="form-group">
                    <input type="hidden" name="productId" value="@Model.product.productId" />
                    <input type="hidden" name="InvenId" value="@Model.inventory.inventoryId" />
                    <label asp-for="product.title"></label>
                    <input required="required" asp-for="product.title" class="form-control" maxlength="2048" />
                    <span asp-validation-for="product.title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="product.category"></label>

                    <select id="listbox" class="form-control" name="catID">
                        @foreach (var item in Model.categories)
                        {
                            <option value="@item.Value" name="catID">
                                @item.Text
                            </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="product.brand"></label>

                    <select id="listbox" class="form-control" name="brandID">
                        @foreach (var item in Model.brands)
                        {
                            <option value="@item.Value" name="brandID">
                                @item.Text
                            </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="product.productGender"></label>
                    <div><select asp-for="@Model.product.productGender" asp-items="Html.GetEnumSelectList<Consts.Genders>()" class="form-control"></select></div>
                </div>

                <div class="form-group">
                    <label asp-for="product.price"></label>
                    <input required="required" type="number" min="1" max="999999.99" step="0.01" asp-for="product.price" class="form-control" />
                    <span asp-validation-for="product.price" class="text-danger"></span>
                </div>
                <div id="disp_tmp_path" hidden></div>

                <div class="form-group">
                    <label asp-for="product.imgUrl"></label>
                    <div class="custom-file">
                        <input type="hidden" name="Url" value="@Model.product.imgUrl" />
                        <input  asp-for="Image" type="file" class="form-control custom-file-input" name="ufile"  maxlength="2048" />
                        <label class="custom-file-label">@Model.product.imgUrl</label>
                    </div>
                    <span asp-validation-for="product.imgUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Product Type</label>
                    <div><select asp-for="@Model.product.productType" asp-items="Html.GetEnumSelectList<Consts.PTypes>()" class="form-control"></select></div>
                </div>
                <div class="form-group">
                    <label asp-for="product.packageQty"></label>
                    <input required="required" type="number" min="1" asp-for="product.packageQty" class="form-control" />
                    <span asp-validation-for="product.packageQty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>product Unit of messure</label>
                    <div><select asp-for="@Model.product.packageUom" asp-items="Html.GetEnumSelectList<Consts.Uom>()" class="form-control"></select></div>
                </div>
                <div class="form-group">
                    <label asp-for="product.packageWeight"></label>
                    <input type="number" asp-for="product.packageWeight" min="1" class="form-control" />
                    <span asp-validation-for="product.packageWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="product.packageDims"></label>
                    <input asp-for="product.packageDims" class="form-control" pattern="(\d+)x(\d+)x(\d+)" />
                    <span asp-validation-for="product.packageDims" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="inventory.stockQty"></label>
                    <input asp-for="inventory.stockQty" type="number" min="0" class="form-control" />
                    <span asp-validation-for="inventory.stockQty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="hint" id="textarea_message"></span>
                    <label asp-for="product.description"></label>
                    <textarea required="required" asp-for="product.description" id="message_area" class="form-control message_area" maxlength="2048"></textarea>
                    <span asp-validation-for="product.description" class="text-danger"></span>
                </div>
                @section Scripts{
                    <script type="text/javascript" src="~/js/addproduct.js"></script>
                }
                <button type="submit" class="sdp-style">Edit</button>
                <button asp-controller="Inventory" asp-action="DeleteProduct" name="ProdcutId" 
                        value="@Model.product.productId" class="sdp-style" style="background :red !important" >Delete</button>
            </form>
        </div>
    </div>
</div>