@model SDP.ViewModels.AddProduct

<section id="section-cms">
    <div class="container">
        @await Html.PartialAsync("_AdminLinks")
        <section class="cms-area">
            <h2>Edit Product - @Model.product.title @Model.product.productType</h2>
            <form enctype="multipart/form-data" asp-controller="Inventory" asp-action="UpdateProduct" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <input type="hidden" name="productId" value="@Model.product.productId" />
                    <input type="hidden" name="InvenId" value="@Model.inventory.inventoryId" />
                    <label asp-for="product.title" class="form-label"></label>
                    <input required="required" asp-for="product.title" class="form-control" maxlength="2048" />
                    <span asp-validation-for="product.title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="product.category" class="form-label"></label>
                    <select id="listbox" class="form-control" name="catID">
                        @foreach (var item in Model.categories)
                        {
                            <option value="@item.Value" name="catID">
                                @item.Text
                            </option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="product.brand" class="form-label"></label>
                    <select id="listbox" class="form-control" name="brandID">
                        @foreach (var item in Model.brands)
                        {
                            <option value="@item.Value" name="brandID">
                                @item.Text
                            </option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="product.productGender" class="form-label"></label>
                    <div><select asp-for="@Model.product.productGender" asp-items="Html.GetEnumSelectList<Consts.Genders>()" class="form-control"></select></div>
                </div>

                <div class="mb-3">
                    <label asp-for="product.price" class="form-label"></label>
                    <input required="required" type="number" min="1" max="999999.99" step="0.01" asp-for="product.price" class="form-control" />
                    <span asp-validation-for="product.price" class="text-danger"></span>
                </div>

                <div id="disp_tmp_path" class="d-none" hidden></div>
                <div class="mb-3">
                    <label asp-for="product.imgUrl" class="form-label"></label>
                    <div class="custom-file">
                        <div class="form-text mt-0 mb-2">Upload PNG / JPG image formats.</div>
                        <input type="hidden" name="Url" value="@Model.product.imgUrl" />
                        <input asp-for="Image" type="file" class="form-control custom-file-input" name="ufile" maxlength="2048" />
                        <div class="custom-file-label form-text">@Model.product.imgUrl</div>
                    </div>
                    <span asp-validation-for="product.imgUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="product.productType" class="form-label"></label>
                    <div><select asp-for="@Model.product.productType" asp-items="Html.GetEnumSelectList<Consts.PTypes>()" class="form-control"></select></div>
                </div>

                <div class="mb-3">
                    <label asp-for="product.packageQty" class="form-label"></label>
                    <input required="required" type="number" min="1" asp-for="product.packageQty" class="form-control" />
                    <span asp-validation-for="product.packageQty" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="product.packageUom" class="form-label"></label>
                    <div><select asp-for="@Model.product.packageUom" asp-items="Html.GetEnumSelectList<Consts.Uom>()" class="form-control"></select></div>
                </div>

                <div class="mb-3">
                    <label asp-for="product.packageWeight" class="form-label"></label>
                    <input type="number" asp-for="product.packageWeight" min="1" class="form-control" />
                    <span asp-validation-for="product.packageWeight" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="product.packageDims" class="form-label"></label>
                    <div class="form-text mt-0 mb-2">In the format 'LLLxWWWxHHH'.</div>
                    <input asp-for="product.packageDims" class="form-control" pattern="(\d+)x(\d+)x(\d+)" />
                    <span asp-validation-for="product.packageDims" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="inventory.stockQty" class="form-label"></label>
                    <input asp-for="inventory.stockQty" type="number" min="0" class="form-control" />
                    <span asp-validation-for="inventory.stockQty" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <span class="hint" id="textarea_message"></span>
                    <label asp-for="product.description" class="form-label"></label>
                    <textarea required="required" asp-for="product.description" id="message_area" class="form-control message_area" maxlength="2048"></textarea>
                    <span asp-validation-for="product.description" class="text-danger"></span>
                </div>

                @section Scripts{
                    <script type="text/javascript" src="~/js/addproduct.js"></script>
                }
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button asp-controller="Inventory" asp-action="DeleteProduct" name="ProductId"
                        value="@Model.product.productId" class="btn btn-danger">
                    Delete Product
                </button>
            </form>
        </section>
    </div>
</section>
