
@{
    string iD = (string)ViewData["ProductID"];
   @model SDP.Models.Product

}

<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="~/imgs/@Model.imgUrl" alt="@Model.title by @Model.brand" />
        </div>
        <div class="col-4">
            <h2>@Model.title</h2>
            <p>@Model.brand</p>
            <p>@Model.packageQty@Model.packageUom</p>
            <p>Rs. @Model.price</p>
            <p>
                @Model.description
            </p>
            <form method="post" asp-controller="Product" asp-action="AddToCart">
                <span class="quan-text">Quantity</span><input name="quantity" type="number" value=1>
                <div>
                    <button type="submit">Add ToCart</button>
                </div>
            </form>
        </div>
    </div>
</div>