
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string text = "Login";
    string action = "Login";
    string status = HttpContextAccessor.HttpContext.Session.GetString("LoggedIN");
    string count  = HttpContextAccessor.HttpContext.Session.GetString("count") == null ? "0" : HttpContextAccessor.HttpContext.Session.GetString("count");


    if (status == "true")
    {
        text = "Logout";
        action = "Logout";
    }

    var display = int.Parse(count);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SD Perfumery</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>SD Perfumery</h1>
                </a>
                <ul id="nav-links-desktop" class=" d-none d-md-block">
                    <li><a asp-area="" asp-controller="Product" asp-action="Index">Shop</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="">About Us</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="">Contact Us</a></li>
                    <li><a asp-controller="Account" asp-action=@action>@text</a></li>
                    <li>
                        <a asp-controller="Cart" asp-action="Index">
                            <i class="bi bi-cart" id="cart" cart-count="@await Html.PartialAsync("~/Views/Partials/CartCountPartial.cshtml", display)"></i>
                        </a>
                    </li>
                </ul>
                <span id="nav-links-collapsed" class="d-md-none">
                    <a href="#"><i class="bi bi-list" id="list"></i></a>
                </span>
            </div>
            <div id="nav-links-mobile">
                <ul>
                    <li><a asp-area="" asp-controller="Product" asp-action="Index">Shop</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="">About Us</a></li>
                    <li><a asp-area="" asp-controller="" asp-action="">Contact Us</a></li>
                    <li><a asp-controller="Account" asp-action=@action>@text</a></li>
                    <li>
                        <a asp-controller="Cart" asp-action="Index">
                            <i class="bi bi-cart" id="cart" cart-count="@await Html.PartialAsync("~/Views/Partials/CartCountPartial.cshtml", display)"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="header-brand">
            <div class="container">
                <span id="header-cta">
                    <i class="bi bi-telephone"></i>
                    <a href="tel:001 284 227">Call us on 001-284-227</a>
                </span>
                <form id="header-search">
                    <!-- Onclick attribute in the search button below has been
                    copied from Product-Index view. Remove if unecessary
                    (should probably function site wide and be implemented
                    as a listener). -->
                    <input type="search" /><button id="btnSearch" class="sdp-style" onclick='setList(JSON.parse())'>
                        <i class="bi bi-search" id="search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <ul class="ul-links-social">
                <li><a href="#"><i class="bi bi-facebook" id="facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram" id="instagram"></i></a></li>
            </ul>
            <ul class="ul-links-onsite">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
            </ul>
            <ul class="ul-links-onsite">
                <li><a href="#">Site Map</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
            </ul>
            <ul class="ul-fine-print">
                <li><small>Copyright &copy;@DateTime.Now.Year sdperfumery.lk - All rights reserved.</small></li>
                <li><small><em>Last updated 08/08/2021.</em></small></li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/hamburger.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>