@model SDPWeb.ViewModels.CartView
@{
    Microsoft.SDP.SDPCore.Interface.ICustomer customer = Microsoft.SDP.SDPInfrastructure.Services.ViewService.getCustomerFromList((string)ViewData["Id"]);
    decimal total = 0;

    Product product = null;

}

<section id="section-banner">
    <div class="container">
        <h2>Shopping cart</h2>
        <p>You have selected the following items.</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="cart-contents">
            <h2>@ViewData["Msg"]</h2>
            <h2 style="color:red">@ViewData["Error"]</h2>
            <ul>
                @if (customer != null)
                {
                    foreach (var pair in customer.cart.getCartList())
                    {

                        foreach (var item in Model.productList)
                        {
                            if (item.productId.ToString() == pair.Key)
                            {
                                product = item;
                            }
                        }


                        decimal subTotal = (1 - pair.Value.discount * (decimal)0.01) * product.price * pair.Value.quantity;
                        total = total + subTotal;
                        <li class="cart-item">
                            <img src="~/images/product/@product.imgUrl" alt="@product.title" />
                            <div class="cart-item-desc">
                                <h4 class="desc">@product.title - @product.brand.title</h4>

                                @{
                                    decimal priceDiscountApplied = 0;
                                    priceDiscountApplied = product.price * (1 - pair.Value.discount * (decimal)0.01);
                                }
                                <p>@priceDiscountApplied  LKR</p>
                            </div>
                            <div class="cart-item-qty">
                                <h5 class="desc">Quantity</h5>
                                <p>@pair.Value.quantity</p>
                            </div>
                            <div class="cart-item-total">
                                <h5 class="desc">Item Total</h5>
                                <p>Rs. @subTotal</p>
                            </div>
                            <a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@product.productId" class="sdp-style btn btn-danger" name="productId" value="@product.productId" style="height:38px;">Remove Item</a>
                        </li>
                    }
                }
            </ul>
            <div class="cart-total">
                <div class="cart-total-box">
                    <h4>Order Total</h4>
                    <p>Rs. @total</p>
                </div>
                <form asp-controller="Cart" asp-action="promoCodeCheck" method="post">
                    <div>
                        <input name="promoCode" type="text" placeholder="PromoCode" style=" margin-top:10px; margin-bottom:10px">
                        <button class="sdp-style" type="submit">Add Promo Code</button>
                    </div>
                </form>

                <button type="button" id="cart-btn-checkout" class="sdp-style">Proceed to Checkout</button>
                <small><a asp-area="" asp-controller="Product" asp-action="Index">Continue Shopping</a></small>
            </div>
        </div>
    </div>
</section>
