
@model SDP.Models.Cart
@{
    SDP.Interfaces.ICustomer cutomer = SDP.Services.ViewService.getCustomerFromDB((string)ViewData["Id"]);
    decimal total = 0;
}

<!-- Duplicate <head> removed (redundant) -->

<section id="section-banner">
    <div class="container">
        <h2>Shopping cart</h2>
        <p>You have selected the following items.</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="cart-contents">
            <div class="sort"> <!-- Left in case required by backend logic? -->
                <ul>
                    @if (cutomer != null)
                    {
                        foreach (SDP.Models.Product product in cutomer.cart.getProductListWithCount())
                        {
                            total = total + (decimal)product.price * (decimal)product.count;
                            decimal subTotal = product.price * product.count;
                            <li class="cart-item">
                                <img src="~/imgs/@product.imgUrl" alt="@product.title" />
                                <div class="cart-item-desc">
                                    <h4 class="desc">@product.title - @product.brand</h4>
                                    <p>@product.price LKR</p>
                                </div>
                                <div class="cart-item-qty">
                                    <h5 class="desc">Quantity</h5>
                                    <p>@product.count</p>
                                </div>
                                <div class="cart-item-total">
                                    <h5 class="desc">Item Total</h5>
                                    <p>Rs. @subTotal</p>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <div class="cart-total">
                    <div class="cart-total-box">
                        <h4>Order Total</h4>
                        <p>Rs. @total</p>
                    </div>
                    <button type="button" id="cart-btn-checkout">Proceed to Checkout</button>
                    <small><a href="#">Continue Shopping</a></small>
                </div>
            </div>
        </div>
    </div>
</section>